{% extends 'base.html' %}

{% block content %}

<section class="text-center mb-4">

        <div class="row wow fadeIn">

          {% for item in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">

            <div class="card">

              <div class="view overlay">
                <a href="{% url 'product' item.slug %}">
                <img src="{{ item.image.url }}" class="card-img-top"></a>
<!--                <a href="{{ item.get_absolute_url }}">-->
<!--                  <div class="mask rgba-white-slight"></div>-->
<!--                </a>-->
              </div>

              <div class="card-body text-center">
<!--                <a href="" class="grey-text">-->
                  <h5>{{ item.get_category_display }}</h5>
<!--                </a>-->
                <h5>
                  <strong>
<!--                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}-->
                      <a href="{% url 'product' item.slug %}" class="dark-grey-text">{{ item.title }}
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>₹
                  {% if item.discount_price %}
                    {{ item.discount_price }}
                  {% else %}
                    {{ item.price }}
                  {% endif %}
                  </strong>
                </h4>

              </div>

            </div>

          </div>
          {% endfor %}
        </div>

      </section>

{% endblock %}